@mixin auto-grid(
  $column-repeat: auto-fit,
  $column-width: 350px,
  $column-gap: 20px,
  $row-gap: 20px
) {
  display: grid;
  grid-template-columns: repeat($column-repeat, $column-width);
  grid-template-rows: auto auto;
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
}
