@import './media_queries.scss';

.root {
  --pageContentDesktopMinSize: 80vw;
  --pageContentDesktopMaxSize: 1200px;
  --rootContentExtraPaddingTop: 0;
  --rootContentMinPadding: 30px;
  --pageContentMaxWidth: 100%;

  @include for-desktop-up {
    --pageContentMaxWidth: min(
      var(--pageContentDesktopMinSize),
      var(--pageContentDesktopMaxSize)
    );
  }

  --rootContentHorizontalPadding: max(
    var(--rootContentMinPadding),
    calc(
      (100% - var(--pageContentMaxWidth))
      / 2
    )
  );
}
